//colors

$primary-color:		#71FFFF;
$secondary-color:	#71DFFF;
$tertiary-color:	#353535;

//FONT SIZE
$p-font-size:		14px;
$h3-font-size:		$p-font-size*4/3;
$h2-font-size:		$h3-font-size*4/3;
$h1-font-size:		$h2-font-size*4/3;

//Optionnel Files
$use-slider : false;
$use-caroussel: false;
